.cartPage {
	
	background-color: #cd7f32; 
	
	&--icon {
		margin-top: 3%; 
		color: white; 
		float: left; 
	}
	
	&--items {  
		background-color: black; 
	}
	
	&--directions {
		margin-top: 10%; 
		float: left; 
	}
	
	&--icon-check  {
		background-color: blue; 
	}
	
}