.coverPage  {
    height: 345px;
     
		
    &--Logo { 
			margin-top: 5%;
            margin-bottom: -14%; 
    }
  
    &--Quote  {
	   color: white; 
	   position: relative; 
	   left: 65%;
	   margin-top: 60%; 
        
    }     
    
}
