.mensPage  {
	
	color: white; 
    
    /*"life with gusto"*/
    &--quote  {
        text-align: center;  
    }

	&--itemDisplay  {
			margin: 0 5% 0 5%;
			height: 45%; 
			width: 90%;
	}
	
	&--itemDisplay--box  {
			opacity: .8; 
			float: left; 
			background-color: white;
			border: #cd7f32 25px solid; 
			height: 365px; 
			width: 25%;
			margin: 1%; 
	}

}

#shirt {
	height: 350px; 
	padding-left: 45px;
	padding-top: 15px; 
}

