/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main { /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details, /* 1 */
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}

.coverPage  {
    height: 345px;     
    
}

.coverPage--Logo { 
			margin-top: 5%;
            margin-bottom: -14%; 
    }

.coverPage--Quote  {
	   color: white; 
	   position: relative; 
	   left: 65%;
	   margin-top: 60%; 
        
    }

.mensPage  {
	
	color: white;

}

/*"life with gusto"*/

.mensPage--quote  {
        text-align: center;  
    }

.mensPage--itemDisplay  {
			margin: 0 5% 0 5%;
			height: 45%; 
			width: 90%;
	}

.mensPage--itemDisplay--box  {
			opacity: .8; 
			float: left; 
			background-color: white;
			border: #cd7f32 25px solid; 
			height: 365px; 
			width: 25%;
			margin: 1%; 
	}

#shirt {
	height: 350px; 
	padding-left: 45px;
	padding-top: 15px; 
}

.privacyTermsPage  {
	color: black; 
	text-align: center; 
	margin-top: 220px; 
	margin-bottom: 150px; 
}

.cartPage {
	
	background-color: #cd7f32;
	
}

.cartPage--icon {
		margin-top: 3%; 
		color: white; 
		float: left; 
	}

.cartPage--items {  
		background-color: black; 
	}

.cartPage--directions {
		margin-top: 10%; 
		float: left; 
	}

.cartPage--icon-check  {
		background-color: blue; 
	}

.mainHeader  {

    display: fixed;  
    background-color: #cd7f32;
    opacity: .7;
}

/*****Shopping cart submit button  *******/

.mainHeader--cartIcon  {  
    height: 250px;
    position: absolute;
    left: 85%; 
	top: 6%;
	
    }

/*******Display Page *********/

.mainHeader--displayImage {
        padding-top: 2px;
       
    }

#lion-shadow {
    position: absolute; 
    width: 100%; 
    margin-top: -181px; 
    margin-left: -20px;
		margin-right: auto; 
    
}

.backgroundPics {
        
		background-color: black;     
}

.backgroundPics--lion  {
        background-image: url(../../assets/images/background/noShadow.jpg); 
		background-position: -50px 120px;
		background-attachment: fixed; 
		background-repeat: no-repeat;
		background-size: 100% 100%;
    }

.backgroundPics--colosseum  {

    	background-image: url(../../assets/images/background/Colosseum.jpg);
      background-repeat: no-repeat; 
      background-size: cover;    
    }

.backgroundPics--privacy  {
			background-image: url(../../assets/images/background/verticalFlagStripes.png); 
			background-repeat: no-repeat; 
			background-size: 100% 100%; 
			}

.backgroundPics--terms {
			background-image: url("../../assets/images/background/greed.jpg"); 
			background-repeat: no-repeat; 
			background-size: contain;
			background-color: white;    
		}

.backgroundPics--helmet {
			height: 1200px; 
			width: 300px; 
			float: left; 
			position: relative; 
			background-image: url("../../assets/images/background/Gladiator-helmet.jpg"); 
			background-repeat: no-repeat; 
			background-size: cover; 
			background-position: -350px -150px; 
		}

/****  Left side terms/privacy/contacts ********/

.footerMenu  {
	background-color: #cd7f32;
	opacity: .7;  
	position: fixed; 
    height: 10%; 
	bottom: 0; 
	left: 0;
	right: 0;

}

#footerLinks  {
    
    font-family: sans-serif;
    padding-left: 10px;
}

#footerLinks  a  {
    font-family: sans-serif;
    color:white;
    }

/*******  Right side social links facebook soon to be ******/

.socialLinks  {
    font-family: sans-serif; 
    height: 60px; 
    width: 300px; 
    float: right;  
    padding-left: 10px; 
    margin-top: -58px;
    
}

.socialLinks  img  {
        height: 50px; 
        width: 50px; 
    }

.socialLinks span {
        float: left; 
        margin: 15px 25px 0 0; 
        font-size: 14px; 
    }

/* Do not edit modules/_sprite.  This file is being generated automatically by Gulp.  To make changes to this file you can edit gulp/templates/sprite.  Or run ***   gulp icons  **** from the terminal. Apprendanza */

.icon {
       background-image: url('/assets/images/sprites/svg/sprite-3e7e0744.svg'); 
    }

.icon--Facebook {
        width: 128px; 
        height: 128px;
        background-position: 66.2251655629139% 69.87089201877933%;
    }

.icon--FacebookColor {
        width: 128px; 
        height: 128px;
        background-position: 72.28003784295176% 69.87089201877933%;
    }

.icon--Instagram {
        width: 128px; 
        height: 128px;
        background-position: 78.3349101229896% 69.87089201877933%;
    }

.icon--InstagramColor {
        width: 128px; 
        height: 128px;
        background-position: 84.38978240302744% 69.87089201877933%;
    }

.icon--Kokopelli {
        width: 841.9px; 
        height: 595.3px;
        background-position: 99.99285765302479% 0;
    }

.icon--shoppingIcons {
        width: 1400px; 
        height: 980px;
        background-position: 0 0;
    }

*  { 
    font-family: RomanFont; 
}

a {
		text-decoration: none;
}

#blackBackground a {
	color: white; 
}

#whiteBackground a {
	color: #cd7f32;
	text-shadow: 1px 1px black; 
}

h1  {
    font-size: 55px; 
}

h2  {
    font-size: 35px; 
}

.clearfix::after {
		content: "";  
  	clear: both; 
  	display: table; 
}

@font-face {
  	font-family: RomanFont; 
  	src: url("../../assets/fonts/roman_font.ttf"); 
}

#number  {
    font-family: sans-serif; 
}

body {
	max-width: 100%; 
	overflow-x: hidden; 
}

img {
	max-width: 100%;
}

.gutter  {
    margin-left: 5%; 
		margin-right: 5%;
}

.gutter--footer  {
        padding-top: 2%; 
    }

.gutter--twoLayout  {
		text-align: center; 
		position: relative; 
		padding-left: 300px;  
	}

