/**

CSS Lion Shadow DEMO
Gabe Ninich Intern Code

**/


.coverPage  {
	max-height: 600px;  
}

.coverPage--Logo { 
	margin-top: 5%;
	margin-bottom: -14%; 
	z-index: 9999; 
}

.coverPage--Quote  {
	color: white; 
	position: fixed; 
	bottom: 5%; 
	right: 5%; 
}

#lion-shadow { 
width: 100%; 
top: 15%;  
}

.nonFixedImage { 
	position: absolute; 
}
.newShadow {
	background-image: url('./assets/images/background/noShadow.jpg');  
	background-position: -50px 120px;
	background-attachment: fixed; 
	background-repeat: no-repeat;
	background-size: 100% 100%;
	z-index: -1; 
	
}

.backgroundColor {
	background-color: black;  
	height: 2000px; 
}

.background--lion  {
	background-image: url('./assets/images/background/largeShadow.png'); 
	background-position: -50px 120px;
	background-attachment: fixed; 
	background-repeat: no-repeat;
	background-size: 100% 100%;
}








