.backgroundPics {
        
		background-color: black;         

    &--lion  {
        background-image: url(../../assets/images/background/noShadow.jpg); 
		background-position: -50px 120px;
		background-attachment: fixed; 
		background-repeat: no-repeat;
		background-size: 100% 100%;
    }
    
    &--colosseum  {

    	background-image: url(../../assets/images/background/Colosseum.jpg);
      background-repeat: no-repeat; 
      background-size: cover;    
    }     
	  
		&--privacy  {
			background-image: url(../../assets/images/background/verticalFlagStripes.png); 
			background-repeat: no-repeat; 
			background-size: 100% 100%; 
			}
	  
		&--terms {
			background-image: url("../../assets/images/background/greed.jpg"); 
			background-repeat: no-repeat; 
			background-size: contain;
			background-color: white;    
		}
	
		&--helmet {
			height: 1200px; 
			width: 300px; 
			float: left; 
			position: relative; 
			background-image: url("../../assets/images/background/Gladiator-helmet.jpg"); 
			background-repeat: no-repeat; 
			background-size: cover; 
			background-position: -350px -150px; 
		}     
}
