/****  Left side terms/privacy/contacts ********/

.footerMenu  {
	background-color: #cd7f32;
	opacity: .7;  
	position: fixed; 
    height: 10%; 
	bottom: 0; 
	left: 0;
	right: 0;

}

#footerLinks  {
    
    font-family: sans-serif;
    padding-left: 10px;
    
    &  a  {
    font-family: sans-serif;
    color:white;
    }
}

/*******  Right side social links facebook soon to be ******/

.socialLinks  {
    font-family: sans-serif; 
    height: 60px; 
    width: 300px; 
    float: right;  
    padding-left: 10px; 
    margin-top: -58px; 
    
    &  img  {
        height: 50px; 
        width: 50px; 
    }
    
    & span {
        float: left; 
        margin: 15px 25px 0 0; 
        font-size: 14px; 
    }
    
}
    


  