*  { 
    font-family: RomanFont; 
}

a {
		text-decoration: none;
}

#blackBackground a {
	color: white; 
}

#whiteBackground a {
	color: #cd7f32;
	text-shadow: 1px 1px black; 
}

h1  {
    font-size: 55px; 
}

h2  {
    font-size: 35px; 
}

.clearfix::after {
		content: "";  
  	clear: both; 
  	display: table; 
}

@font-face {
  	font-family: RomanFont; 
  	src: url("../../assets/fonts/roman_font.ttf"); 
}

#number  {
    font-family: sans-serif; 
}

body {
	max-width: 100%; 
	overflow-x: hidden; 
}

img {
	max-width: 100%;
}

