.gutter  {
    margin-left: 5%; 
		margin-right: 5%; 
    
    &--footer  {
        padding-top: 2%; 
    }
	
	&--twoLayout  {
		text-align: center; 
		position: relative; 
		padding-left: 300px;  
	}
}

