.mainHeader  {

    display: fixed;  
    background-color: #cd7f32;
    opacity: .7; 
; 
    
    
    /*****Shopping cart submit button  *******/
    
    &--cartIcon  {  
    height: 250px;
    position: absolute;
    left: 85%; 
	top: 6%;
	
    }
    
    /*******Display Page *********/
    
    &--displayImage {
        padding-top: 2px;
       
    }
}




